body > div {
  max-width: 1366px;
}

.popover {
  max-width: 350px;
}

.popover-header {
  margin-top: 0;
  width: fit-content;
}

.popover-body {
  padding-top: 0;
  max-height: 300px;
  overflow-y: auto;;
}
